@model Exception
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientError</title>
</head>
<body>
    <div>
        Error on client side happened
    </div>
    Details
    @Model.Message
</body>
</html>
